body{
font-family: Arial;
background:#1f2f46;
color:white;
text-align:center;
padding-top:40px;
}

.arena{
display:flex;
justify-content:center;
align-items:center;
gap:60px;
margin:40px;
}

.hand{
font-size:80px;
margin-top:20px;
transition: transform 0.3s;
}

.hand.animate{
transform:scale(1.4) rotate(10deg);
}

.vs{
font-size:30px;
font-weight:bold;
}

.buttons button{

font-size:40px;
padding:20px;
margin:10px;
border:none;
border-radius:12px;
cursor:pointer;

transition:0.2s;
}

.buttons button:hover{

transform:scale(1.2);

}

.score{
margin-top:30px;
font-size:20px;
}